@model IEnumerable<CMS.Web.ViewModels.UploadQuestionpapersViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Questionpapers List</h2>
<p>
    @Html.ActionLink("Upload New Questionpapers", "Create")
</p>
<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("_MVCGridToolbar", new CMS.Web.Models.MVCGridToolbarModel()
   {
       MVCGridName = "UploadQuestionpapersGrid",
       PageSize = true,
       ColumnVisibility = false,
       Export = false,
       GlobalSearch = false
   })
        @Html.MVCGrid("UploadQuestionpapersGrid")
    </div>
</div>