@model IEnumerable<CMS.Web.ViewModels.UploadPracticepapersViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Practicepapers List</h2>
<p>
    @Html.ActionLink("Upload New Practicepapers", "Create")
</p>
<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("_MVCGridToolbar", new CMS.Web.Models.MVCGridToolbarModel()
   {
       MVCGridName = "UploadPracticepapersGrid",
       PageSize = true,
       ColumnVisibility = false,
       Export = false,
       GlobalSearch = false
   })
        @Html.MVCGrid("UploadPracticepapersGrid")
    </div>
</div>